body {
	/*background-image: url("./images/bkg.png");*/
	background: radial-gradient(#5B5B5B, #676767);
	height: 1000px;

}
/* Page Selection Menu */
.MM {
	border-style: double;
	border-color: transparent;
	border-bottom-color: white;
	border-width: 10px;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 15px;
	padding-left: 10px;
	padding-right: 10px;
	list-style-type: none;
	overflow: auto;
}
.MMLinks:hover {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 2px 5px 5px lightgray;
}
.MMLinks:link {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
}
.MMLinks:visited {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
}
.BBorders {
	padding: 2px 50px 2px 50px;
	float: right;
}
/*Index*/
.center {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	color: white
}
/*About me Page*/
.profpicborder {
	border-style: solid;
	border-color: white;

}
.white {
	color: white;
}
.imgcenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.linklist {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	list-style: none;
}
.sublinklist {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	list-style: none;
}
