body {
	background-color: lightgrey;
}
/* Page Selection Menu */
.MM {
	border-style: double;
	border-color: black;
	border-width: 5px;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 15px;
	padding: 10px;
	list-style-type: none;
	position: sticky;
}
.MMButtons,
a:link {
	text-decoration: none;
}
.MMButtons {
	display: block;
	width: 300px;
	padding: 3px;
}
/*About me Page*/
.dottedbox {
	border-style: dotted;
	border-color: black;

}
.blackbox {
	border-style: solid;
}
