body {
	background-color: #4c4c4c;
}
/* Page Selection Menu */
.MM {
	border-style: double;
	border-color: transparent;
	border-bottom-color: white;
	border-width: 10px;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 15px;
	padding-left: 10px;
	padding-right: 10px;
	list-style-type: none;
	overflow: auto;
}
.MMLinks:hover {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
	text-shadow: 2px 5px 5px lightgray;
	float: right;
	padding-right: 50px;
	padding-left: 50px;
}
.MMLinks:link {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
	float: right;
	padding-right: 50px;
	padding-left: 50px;
}
.MMLinks:visited {
	color: white;
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-size: 24px;
	float: right;
	padding-right: 50px;
	padding-left: 50px;
}
/*About me Page*/
.dottedbox {
	border-style: dotted;
	border-color: black;

}
.blackbox {
	border-style: solid;
}
